doctype html
html
    head
        title Coffee House - Contact
        link(rel='stylesheet', href='/style.css')
    body
        .container
            h1 Contact Us
            nav
                ul
                    li: a(href='/') Home
                    li: a(href='/menu') Menu
                    li: a(href='/contact') Contact
            p If you have any questions, feel free to reach out! We'd love to hear from you.
            
            h2 Get in Touch
            ul
                li Phone: (978) 983-1008
                li Email: coffeehouse@gmail.com
                li Address: 12 State Street, Boston, MA 02128
            
            