doctype html
html
    head
        title Welcome to Our Coffee House
        link(rel='stylesheet', href='/style.css')
    body
        .container
            h1 Welcome to Our Coffee House
            p Enjoy the finest coffee brewed with passion and served with love.
            h2 Our Specialties
            ul
                li Freshly Brewed Coffee
                li Exotic Teas
                li Delicious Pastries
                li Seasonal Specials
            p Feel free to explore our menu or contact us for more information.
            nav
                ul
                    li: a(href='/menu') Menu
                    li: a(href='/contact') Contact